{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>
</head>
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h1>
                    <a href="#">{{ article.title}}</a>
                </h1>
                <p>{{article.snippet}}</p>
                <p>{{article.date_created}}</p>
                <p>{{ article.date_published}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>